* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background: linear-gradient(to right, #800080, #6a11cb);
  width: 500px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 30px;
  margin-bottom: 25px;
}

#city-input {
  background-color: transparent; /* Transparent background */
  border: 2px solid rgba(227, 201, 201, 0.881); /* Semi-transparent border */
  color: #fff; /* Text color */
  padding: 10px;
  font-size: 16px;
  outline: none; /* Removes default focus outline */
  border-radius: 5px; /* Rounded corners */
}

#city-input {
  border-color: rgba(0, 0, 0, 0.8); /* Darker border on focus */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#city-input::placeholder {
  color: rgba(199, 184, 184, 0.852); /* Semi-transparent placeholder */
  font-style: italic;
}

#city-input:hover {
  border-color: rgba(0, 0, 0, 0.8); /* Darker border on hover */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
}

.btt {
  background-color: #007bff; /* Blue background */
  color: #fff; /* White text */
  border: none; /* Removes default border */
  padding: 10px 20px; /* Padding for size */
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth transitions for hover and focus */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.btt:hover {
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow */
  transform: translateY(-2px); /* Lift effect */
}

h2 {
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #bba6a6;
  text-align: center;
  margin: 10px 0;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  line-height: 1.5;
  padding-bottom: 5px;
  transition: color 0.3s ease, border-color 0.3s ease;
}

h2:hover {
  color: #31383f;
  border-color: #0056b3;
}

#tem,
#discription {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(28, 24, 24, 0.782);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  transition: color 0.3s ease, border-color 0.3s ease;
}

#error-msg {
  color: red;
  font-size: 1.2rem;
}
